<html>
<body>
<h2>
    Submitted Information
</h2>

    <h3>Name: <%= user_data.name %></h3>
    <h3>Location: <%= user_data.location %></h3>
    <h3>Language: <%= user_data.language %></h3>
    <h3>Message: <%= user_data.message %></h3>
<hr/>

</body>
</html>